@model DtlBaiKiemTraGK.Models.dtlKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dtlKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtlTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtlTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DtlMaKH }) |
    @Html.ActionLink("Back to List", "DtlIndex")
</p>
