@model Daothithuylinhproject2_2210900036.Models.SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/DTLinhAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTonKho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTonKho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DANHMUC.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANHMUC.TenDM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP.Trim() }) |
    @Html.ActionLink("Back to List", "Index")
</p>
