@model IEnumerable<Daothithuylinhproject2_2210900036.Models.SANPHAM>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/DTLinhAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongTonKho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DANHMUC.TenDM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTonKho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DANHMUC.TenDM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSP.Trim() }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSP.Trim() }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSP.Trim() })
        </td>
    </tr>
}

</table>
