@model DtlLesson10.Models.Sinhvien

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sinhvien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtlHoSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlHoSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtlTenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlTenSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtlPhai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlPhai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtlNgaysinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlNgaysinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtlNoisinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlNoisinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtlHocBong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlHocBong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtlDiemTB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlDiemTB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KetQua.DtlMaMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KetQua.DtlMaMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khoa.DtlTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khoa.DtlTenKH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "DtlIndex")
        </div>
    }
</div>
