@model IEnumerable<DtlLesson08CF.Models.DtlBook>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DtlCategory.DtlCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtlTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtlAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtlYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtlPublisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtlPicture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DtlCategory.DtlCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtlTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtlAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtlYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtlPublisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtlPicture)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DtlBookId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DtlBookId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DtlBookId })
        </td>
    </tr>
}

</table>
