@model IEnumerable<Daothithuylinhproject2_2210900036.Models.DONHANG>

@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Areas/DTLinhAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Đơn hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tongtien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaydat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trangthai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHACHHANG.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tongtien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaydat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trangthai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHACHHANG.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDH.Trim() }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDH.Trim() }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDH.Trim() })
        </td>
    </tr>
}

</table>
