@model DtlLesson10.Models.KetQua

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KetQua</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtlMaMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlMaMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtlDiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlDiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonHoc.DtlTenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.DtlTenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinhvien.DtlHoSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinhvien.DtlHoSV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DtlMaSV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
