@model IEnumerable<DtlLesson10.Models.KetQua>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DtlMaMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtlDiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonHoc.DtlTenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sinhvien.DtlHoSV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DtlMaMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtlDiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.DtlTenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sinhvien.DtlHoSV)
        </td>
        <td>
            @Html.ActionLink("DtlEdit", "DtlEdit", new { id=item.DtlMaSV.Trim() }) |
            @Html.ActionLink("DtlDetails", "DtlDetails", new { id=item.DtlMaSV.Trim() }) |
            @Html.ActionLink("DtlDelete", "DtlDelete", new { id=item.DtlMaSV.Trim() })
        </td>
    </tr>
}

</table>
