@model DtlLesson10.Models.MonHoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MonHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtlTenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlTenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtlSoTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlSoTiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KetQua.DtlMaMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KetQua.DtlMaMH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DtlMaMH }) |
    @Html.ActionLink("Back to List", "DtlIndex")
</p>
