
<h2>_PartialSideBar</h2>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="">
        <div class="image">
            <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
        </div>
    </div>

    @*<!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>*@

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/Category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Danh mục
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/news" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Tin tức
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/posts" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Bài viết
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/posts" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quảng cáo
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("DtlIndex", "DANHMUC")" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Danh mục</p>
                        </a>
                    </li>
                    <!-- Sản phẩm -->
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "SANPHAM")" class="nav-link">
                            <i class="nav-icon fas fa-box-open"></i>
                            <p>Sản phẩm</p>
                        </a>
                    </li>
                    <!-- Khách hàng -->
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "KHACHHANG")" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Khách hàng</p>
                        </a>
                    </li>
                    <!-- Đơn hàng -->
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "DONHANG")" class="nav-link">
                            <i class="nav-icon fas fa-shopping-cart"></i>
                            <p>Đơn hàng</p>
                        </a>
                    </li>
                    <!-- Chi tiết đơn hàng -->
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "CHITIETDONHANG")" class="nav-link">
                            <i class="nav-icon fas fa-file-invoice"></i>
                            <p>Chi tiết đơn hàng</p>
                        </a>
                    </li>
                    <!-- Thanh toán -->
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "THANHTOAN")" class="nav-link">
                            <i class="nav-icon fas fa-credit-card"></i>
                            <p>Thanh toán</p>
                        </a>
                    </li>
                </ul>
            </li>
           

            
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1.0/dist/js/adminlte.min.js"></script>