@model IEnumerable<Lesson11Dbs.Models.Sach>

@{
    ViewBag.Title = "DtlIndex";
    Layout = "~/Views/Shared/Dtl_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "DtlCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DtlTenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtlSoTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtlNamXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtlTrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tacgia.DtlTenTG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DtlTenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtlSoTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtlNamXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtlTrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tacgia.DtlTenTG)
        </td>
        <td>
            @Html.ActionLink("DtlEdit", "DtlEdit", new { id=item.DtlMaSach.Trim() }) |
            @Html.ActionLink("DtlDetails", "DtlDetails", new { id=item.DtlMaSach.Trim() }) |
            @Html.ActionLink("DtlDelete", "DtlDelete", new { id=item.DtlMaSach.Trim() })
        </td>
    </tr>
}

</table>
